
.custom-button {
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: #7952B3;
  border-radius: 8px;
  color: #E1E8EB;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.custom-button:hover {
  background-color: #172430;
}

.loading {
  background-color: #817F86;
  cursor: not-allowed;
}

.loading:hover {
  background-color: #817F86!important;
  cursor: not-allowed;
}


