.logo {
  width: 250px;
  margin: 0 auto;
  color: #7952B3;
}

.text {
  font-family: 'Dancing Script';
  font-weight: 800;
  font-size: 70px;
  line-height: 50px;
}

#sasso, #forbice {
  text-align: left;
}
#carta {
  text-align: right;
}
