/* You can add global styles to this file, and also import other style files */
html, body
{
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Dosis', cursive;
}

* {
  font-family: 'Dosis', cursive;
  color: #E1E8EB;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 6.5rem;
}


.container-bg {
  height: 100%;
  width: 100%;
  background-color: #343A40;
}

.main-body {
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}

@media only screen and (max-width: 600px) {

  .main-body {
    width: 100%;
  }
}
