<div class="container-bg overflow-auto">
  <div class="container main-body">
    <app-logo></app-logo>
    <div class="container mt-7 pb-2" *ngIf="modalita === null">
      <h1 class="text-center">Scegli la modalità di gioco</h1>
      <div class="row mt-6">
        <div class="col text-left action-text">
          Fast Game
        </div>
        <div class="col-auto">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="fastGame">
            <div>
              <span></span>
            </div>
          </label>
        </div>
      </div>
      <div class="row mt-2">
        <app-button class="w-100" (click)="setModalita(ModalitaEnum.UmanoVsComputer)">Umano vs Computer</app-button>
      </div>
      <div class="row mt-2">
        <app-button class="w-100" (click)="setModalita(ModalitaEnum.ComputerVsComputer)">Computer vs Computer</app-button>
      </div>
    </div>

    <div class="container mt-7 pb-2" *ngIf="modalita == ModalitaEnum.UmanoVsComputer && username === null">
      <h1 class="text-center">Inserisci il tuo nome</h1>
      <div class="row mt-4">
        <input type="text" class="input" #username/>
      </div>
      <div class="row mt-4">
        <app-button class="w-100" (click)="setUsername(username.value)">CONTINUA</app-button>
      </div>
    </div>

    <div class="container mt-7 pb-2" *ngIf="modalita !== null && round === null && ((modalita == ModalitaEnum.UmanoVsComputer && username !== null) || modalita == ModalitaEnum.ComputerVsComputer)">
      <h1 class="text-center">Scegli il punteggio massimo</h1>
      <div class="row mt-6">
        <div class="col">
          <app-button class="w-100" (click)="setRound(3)">3</app-button>
        </div>
        <div class="col">
          <app-button class="w-100" (click)="setRound(5)">5</app-button>
        </div>
        <div class="col">
          <app-button class="w-100" (click)="setRound(10)">10</app-button>
        </div>
      </div>
    </div>
  </div>

</div>
